<!-- Footer -->
<footer class="py-3 mt-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="{{ .Site.Params.Forum }}" aria-label="KiCad user forum">
                            <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-discourse fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    {{ range .Site.Params.social }}
                    <li class="list-inline-item">
                        <a href="{{ .url }}" rel="me" aria-label="{{ .label }}">
                            <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-{{ .title }} fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    {{ end }}
                </ul>
                <p class="copyright mb-0 text-center">
                    {{ .Site.Copyright }} Unless otherwise stated, all text and images on this website are licensed under either a choice of the
                    <a href="/about/licenses/#_creative_commons_attribution_3_0_unported">Creative Commons Attributions License</a>, version 3.0 or later; or the <a href="/about/licenses/#_gnu_general_public_license_v3">General Public License version</a>                    3 or later. This does not include the KiCad source code, libraries, documentation, and any third party tools or products mentioned on the website.
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
{{ $js := resources.Get "js/jquery-3.5.1.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>

<!-- Bootstrap Core JavaScript -->
{{ $js := resources.Get "/js/bootstrap.bundle.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>

{{ $js := resources.Get "js/kicad.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>

{{ $js := resources.Get "js/kicon-banner.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>

{{ partial "donate-modal.html" . }}
{{ partial "funddrive-modal.html" . }}
</body>

</html>