{{ $.Scratch.Add "additional_head_tags" "<link href=\"/fonts/font-logos.css\" rel=\"stylesheet\">" }}
{{ $.Scratch.Set "description" "Windows, macOS and Linux download and install instructions" }}
{{ partial "header.html" . }}

<style>
.download-os {
	text-align: center;
}
.download-os a {
	text-decoration: none;
	display: block;
}
.download-os div {
	font-size: 80px;
}
</style>
<div class="container">
	<div class="row">
		<div class="col-lg-10 offset-lg-1">
			{{ partial "breadcrumb.html" . }}

			<div class="page-heading">
				<h1>{{ .Title }}</h1>
			</div>
			<h3>Select your operating system</h3>
			<div class="row row-cols-3 g-2">
				{{ range .Data.Pages }}
					{{ if .Params.distro }}
					<div class="col download-os">
						<a class="p-3 border bg-light" href="{{ .RelPermalink }}">
							{{ .Params.iconhtml | safeHTML }}
							{{ .Params.distro }}
						</a>
					</div>
					{{end}}
				{{end}}
			</div>
			<div class="my-3 paragraph">
				<h3>Obtaining the KiCad source code</h3>
				<p>
					See the <a href="/download/source">install from source code</a> page for instructions.
				</p> 
			</div>
		</div>
	</div>
</div>

{{ partial "footer.html" . }}
